duck-data-webpage/public/duck_migration_extended_forecasts.csv
duck-data-webpage/public/predicted_coords_20250410_090345.csv
duck-data-webpage/public/A07_A13.csv
duck-data-webpage/public/M30_A06_P.csv
mallard_connectivity_data.csv
mallard_connectivity_data_combined.csv
