.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Hero Section */
.hero {
  min-height: 300px; /* ensures some vertical space */
  background: linear-gradient(
    135deg,
    rgb(238, 186, 83) 0%,
    rgb(251, 222, 165) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2em;
  color: #fff;
}

/* Main Content */
.content {
  max-width: 960px; /* keeps text from stretching too wide */
  margin: 2em auto;
  padding: 1em;
}

/* Footer */
footer {
  background: rgb(238, 186, 83);
  color: #fff;
  text-align: center;
  padding: 1em 0;
  margin-top: 2em;
}

